<div class="hero-unit">
  <h1>web
    <span style="font-weight: normal;">lish</span>
  </h1>
  <p>Share your work. Brand yourself. Nerd out.</p>
  <% if current_user %>
    <%= link_to "Go To Dashboard", dashboard_path, class: 'btn btn-success btn-large' %>
  <% else %>
    <a class="btn btn-success btn-large" href="<%= new_user_registration_path %>">Sign Up</a>
  <% end %>
</div>
<div class="row"></div>
<div class="row">
  <div class="span4">
    <div class="well">
      <h3>Share Your Work.</h3>
      <p>
        <%= link_to "Make your work accessible", new_document_path %> to top undergraduates and academics worldwide.
        Have them <%= link_to "proof read", coming_soon_path %>, <%= link_to "receive comments", personal_homepage_path %>,
        and <%= link_to "build a fan following!", followers_user_path(current_user) %>
    </p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Brand Yourself.</h3>
      <p>
      <%= link_to "Showcase your work", new_document_path %> to classmates, professors, friends and family. <%= link_to "Get cited", coming_soon_path %> by peers and <%= link_to "create a track record of scholarship", documents_path %> accessible to recruiters.
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Connect.</h3>
      <p>
        <%= link_to "Access your classmates' papers", explore_documents_path %>, have <%= link_to "discussions with like-minded peers", coming_soon_path %>, and <%= link_to "stay abreast of the latest research", coming_soon_path %> published by your professors.
      </p>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span4">
    <div class="well well-large">
      <h3>All Topics &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
      <p>Choose a topic of your interest to browse papers and enter discussions.</p>
      <div
        class="row-fluid">
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Anthropology</a>
          <a class="btn btn-block text-center btn-info" href="#">Economics</a>
          <a class="btn btn-block text-center btn-info" href="#">History</a>
          <a class="btn btn-block text-center btn-info" href="#">Language &amp; Literature</a>
        </div>
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Management</a>
          <a class="btn btn-block text-center btn-info" href="#">Marketing</a>
          <a class="btn btn-block text-center btn-info" href="#">Natural Sciences</a>
          <a class="btn btn-block text-center btn-info" href="#">Other</a>
        </div>
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Philosophy</a>
          <a class="btn btn-block text-center btn-info" href="#">Psychology</a>
          <a class="btn btn-block text-center btn-info" href="#">Sociology</a>
          <a class="btn btn-block text-center btn-info" href="#">Political Science</a>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <h3>Popular Papers</h3>
    <%= render partial: 'documents/teaser', collection: Document.popular.last(3) %>
  </div>
  <div class="span4">
    <h3>Popular Discussions</h3>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In History</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In Political Science</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body"></div>
    </div>
  </div>
</div>
