<div class="media">
  <%= link_to teaser, class: 'pull-left media-object' do %>
    <%= render_document_preview(teaser) %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to teaser, teaser %></h4>
    <p>
      <small><%= link_to teaser.user, teaser.user %></small>
    </p>
    <p class="text-right"><%= teaser.description %>
      <br>
    </p>
  </div>
</div>
