<!doctype html>
<html>

  <head>
    <title>Weblish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/journal/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <a class="brand" href="#"><b>webl</b><span style="font-weight: normal;">ish</span></a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="#">Log-in</a>
                </li>
                <li>
                  <a href="#">Upload</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </div>
            <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search Topics or Papers...">
            </form>
          </div>
        </div>
        <div id="flash-container">
          <% if flash.present? %>
            <%- flash.each do |name, msg| -%>
              <%= content_tag :div, class: "flash-message alert #{name} fade in" do %>
                <%= link_to "&times;".html_safe, "#", class: 'close', data: {dismiss: 'alert'} %>
                <%= raw msg %>
              <% end %>
            <% end %>
            <% javascripts do %>
              <script type="text/javascript">
                setTimeout(slideItUp, 15000);
                function slideItUp ( ) {
                  $(".flash-message:not(.alert-danger,.alert-warning)").slideUp();
                }
              </script>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="sign-in-nav" style="text-align:right">
      <% if user_signed_in? %>
        <%= current_user.email %>. Not you? <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
      </div>

      <%= yield %>
      <%= yield :before_javascripts -%>
      <% if Rails.env.production?  %>
        <%#= render file: "/layouts/google_analytics" %>
      <% end -%>
      <%= yield :javascripts -%>
    <hr>
    <div class="container"></div>
    <div></div>
    <div></div>
    </div>
  </body>
</html>
