<!doctype html>
<html>

  <head>
    <title>Weblish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "font-awesome-ie7.min", media: "all" %>
    <![endif]-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= root_url %>"><b>webl</b><span style="font-weight: normal;">ish</span></a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <% unless user_signed_in? %>
                  <li>
                  <%= link_to "Log in", new_user_session_path %>
                  </li>
                <% end %>
                <li>
                <%= link_to "Upload", new_document_path %>
                </li>
                <% if user_signed_in? %>
                  <li><%= link_to "My documents", documents_path %></li>
                <% end %>
                <li>
                <a href="#">About</a>
                </li>
              </ul>
            </div>

        <div class="sign-in-nav">
          <% if user_signed_in? %>
            <%= image_tag(gravatar_url(current_user), class: 'pull-right gravatar') %>
          <% end %>
          <div style="float:right;text-align:right">
            <% if user_signed_in? %>
              <span>
                <%= link_to current_user.email, edit_user_registration_path %><br>
                <em>Not you? </em>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </span>
            <% else %>
              <div style="line-height:35px;padding-right:10px">
                <%= link_to "Sign up", new_user_registration_path %>
                or
                <%= link_to "sign in", new_user_session_path %>
            </div>
            <% end %>
          </div>
        </div>
            <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search Topics or Papers...">
            </form>
          </div>
        </div>
      </div>
      <div class="row-fluid">
    </div>

      <div id="flash-container">
        <% if flash.present? %>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, class: "flash-message alert #{name} fade in" do %>
              <%= link_to "&times;".html_safe, "#", class: 'close', data: {dismiss: 'alert'} %>
              <%= raw msg %>
            <% end %>
          <% end %>
          <% javascripts do %>
            <script type="text/javascript">
              setTimeout(slideItUp, 15000);
              function slideItUp ( ) {
                $(".flash-message:not(.alert-danger,.alert-warning)").slideUp();
              }
</script>
            <% end %>
          <% end %>
      </div>

      <%= yield %>
      <%= yield :before_javascripts -%>
      <% if Rails.env.production?  %>
        <%#= render file: "/layouts/google_analytics" %>
      <% end -%>
      <%= yield :javascripts -%>
    <hr>
    <div class="container"></div>
    <div></div>
    <div></div>
    </div>
  </body>
</html>
